html {
    height: 100%;
}

body {
    height: 100%;
    background-color:pink;
}
a {
    text-decoration: none;
}

.main {
    height: 100%;
    background-image: "https://tribwpix.files.wordpress.com/2013/05/pepsi-commercial-5.jpg?quality=85&strip=all";
}
.social-image{
    width: 30px;
    margin: 15px;
}
.rightPane{
    images="https://pbs.twimg.com/media/Cy3ULarXEAAu5sL.jpg";}
    .container{
        display:flex;
        
    }